{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center text-light bg-secondary py-3">ABOUT US</h1>
    <div class="about">
        <div class="container-fluid">
           <div class="row">
              <div class="col-5">
                 <div class="titlepage mt-2 mb-3">
                     <p>
                        Welcome to <span class="text-dark fw-bold">RentIt</span> - your trusted platform for 
                        finding and renting the perfect home. Whether you're 
                        looking for a cozy apartment, a spacious family house, or 
                        a short-term vacation rental, we've got you covered.<br>
                        Our mission is to make house hunting easy, transparent, and 
                        secure. With user-friendly tools, verified listings, and a growing 
                        community of landlords and tenants, we help you find a place that 
                        truly feels like home.<br>
                        At <span class="text-dark fw-bold">RentIt</span>, we believe in simplicity, trust, and convenience. Start
                        your journey with us today - your next home is just a few clicks away. 
                     </p>
                  </div>
              </div>
              
           
               <div class="col-md-7">
                  <div class="ms-4 mb-3 about_img">
                     <figure><img src="{% static 'images/room5.jpg' %}" alt="#"/></figure>
                  </div>
               </div>
               
            </div>
        </div>
     </div>
{% endblock content %}