Hello {{name}},

Thank you for reaching out to us! We’ve successfully received your message, and we appreciate you taking the time to get in touch.

Here are the details you provided:

----------------------------------------
Name    : {{name}}
Email   : {{email}}
Phone   : {{phone}}
Message : {{message}}
----------------------------------------

We’ll review your inquiry and get back to you as soon as possible. If you need urgent assistance, please feel free to call us at +977-9807585264 or reply to this email.

Thanks again for contacting us. We look forward to assisting you soon!

Best regards,
RentIt
