{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- From Uiverse.io by Yaya12085 --> 
<div class="main_form">
    <div class="form-container">
        <p class="title">Upload your property</p>
        <form method="post"  enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{form}}

            <label for="images">Upload multiple images:</label>
            <input type="file" name="images" multiple required><br><br>
            <button class="sign">Upload</button>
        </form>
    </div>
</div>

{% endblock content %}